.details {
  text-align: center;
  background-color: var(--color-bg-secondary);
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.details__heading {
  padding: 10px;
}

.details__phone,
.details__email {
  display: flex;
  justify-content: center;
  color: var(--color-text-body);
  gap: 1vh;
  p {
    margin-left: 1vh;
  }
}

.details__socials {
  width: 200px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2vh;
  color: var(--color-text-body);
}

#facebook,
#phone-icon,
#email-icon {
  transition: 0.2s ease-in-out;
}
#phone-icon:hover {
  transform: scale(1.1);
  color: var(--color-accent);
}
#email-icon:hover {
  transform: scale(1.1);
  color: var(--color-accent);
}
#facebook:hover {
  color: #4267b2;
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .details {
    width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .details {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .details {
    padding: 2vh;
    width: 300px;
  }
}
