input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.button-holder {
  margin-top: 5vh;
  display: flex;
}

select {
  background-color: lightgray;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

input {
  background-color: lightgray;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
}

textarea {
  background-color: lightgray;
  width: 350px;
  height: 200px;
  padding: 10px 5px;
  box-sizing: border-box;
  border-radius: 4px;
  resize: vertical;
}
