.contact {
  min-height: 50vh;
  align-items: center;
  padding-bottom: 50px;
  margin-bottom: 5vh;
}

.contact__layout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}

.message-box {
  text-align: center;
  margin-top: 20px;
}

.message-box p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.message-box .button:hover {
  cursor: pointer;
  transition: 0.3s ease;
}

@media screen and (max-width: 768px) {
  .contact__layout {
    flex-direction: column;
    gap: 5vh;
  }
}
