.banner {
  position: relative;
  width: 100%;

  background: url("/public/images/bil-cropped.jpeg") no-repeat center / cover;
}
.banner,
.banner__container {
  min-height: 80vh;
}

.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.banner__container {
  position: relative;
  max-width: 1300px;
  margin: auto;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 0 1.5rem;
}

.banner__cta {
  margin-top: 2.5rem;
}
