a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.button {
  position: relative;
  display: inline-block;
  padding: 15px 32px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--main);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-image: linear-gradient(to right, var(--main) 0 0),
    linear-gradient(to right, var(--yellow) 0 0);
  background-size: 0% 100%, 100% 100%;
  background-position: left, left;
  background-repeat: no-repeat;

  transition: background-size 0.5s ease, color 0.4s ease, transform 1.5s ease,
    box-shadow 0.2s ease;
}
.button:hover {
  background-size: 100% 100%, 100% 100%;
  color: var(--yellow);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.button:active {
  transform: scale(0.95);
}
