a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 15px 32px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-bg-primary);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  background-image: linear-gradient(to right, var(--color-bg-primary) 0 0),
    linear-gradient(to right, var(--color-accent) 0 0);
  background-size: 0% 100%, 100% 100%;
  background-position: left, left;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease, color 0.3s ease, transform 1.5s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
}

.button:hover {
  background-size: 100% 100%, 100% 100%;
  color: var(--color-accent);
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.button:active {
  transform: scale(0.95);
}

/* === LOADER === */

.button.is-loading > * {
  opacity: 0;
}

/* Stil för loading-läget */
.button.is-loading,
.button.is-loading:hover {
  color: var(--color-bg-primary);
  cursor: default;
  transform: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px, rgba(0, 0, 0, 0.23) 0 3px 6px;
}

/* Pseudo-element som spinner */
.button.is-loading::after {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 18px;
  height: 18px;
  padding: 3px;
  border-radius: 50%;
  background: var(--color-bg-primary); /* standardfärg */
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s linear infinite;
  z-index: 1;
}

/* HOVER under loading  */
.button.is-loading:hover::after {
  background-color: var(--color-accent);
  color: var(--color-accent);
}

/* Göm labeln men behåll layouten */
.button.is-loading > .button__label {
  opacity: 0;
}
@keyframes l3 {
  to {
    transform: rotate(360deg);
  }
}
