.carousel-container {
  margin: 0 auto;
  width: 50vh;
  height: 700px;
}

.carousel-paper {
  height: 450px;
  width: 250px;
}

.carousel-img {
  max-height: 100%;
  object-fit: contain;
}

.paper-button {
  margin-top: 40px;
  color: white;
  border: 3px solid white;
  text-transform: capitalize;
}
