.footer-parent {
  background-color: #1a2a53;
}

.footer-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #1a2a53;
  color: #ffffff;
  max-width: 1300px;
  div {
    margin: 10px;

    p {
      margin-bottom: 20px;
      line-height: 1.5em;
    }
  }
}

.footer-follow {
  ul {
    list-style: none;
    padding: 0;

    a {
      text-decoration: none;
      color: #ffffff;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.footer-50 {
  width: 50%;
}

.footer-25 {
  width: 25%;
}
