.hero-container {
  margin: 1.5vh 0 1.5vh 0;

  img {
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
  }
  h1 {
    text-transform: none;
    letter-spacing: 0;
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  h1::after {
    content: "";
    display: block;
    height: 5px;
    width: 60px;
    background: var(--color-accent);
    margin: 10px 0 0 0;
  }
  p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 40px;
    }
  }
}

.hero-container-ending {
  margin-top: 5vh;
  border: 0;
  height: 1px;
  background: var(--color-accent);
  background-image: linear-gradient(var(--color-accent));
}
