.hero-container {
  margin: 1.5vh 0;
}

.hero-container img {
  width: 100%;
  border-radius: 5px;
}

.hero-container h1 {
  font-size: 55px;
  line-height: 70px;
  font-weight: 700;
  margin-bottom: 24px;
}

.hero-container h1::after {
  content: "";
  display: block;
  height: 5px;
  width: 60px;
  background: var(--color-accent);
  margin-top: 10px;
}

.hero-container p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .hero-container h1 {
    font-size: 40px;
    line-height: 45px;
  }
}

@media screen and (max-width: 375px) {
  .hero-container h1 {
    font-size: 30px;
  }
}
