.nav {
  width: auto;
  background-color: var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  height: 80px;
}

.nav img {
  width: 150px;
  margin-top: 10px;
  margin-right: 4vh;
}

#navbar {
  display: flex;
  align-items: center;
}

#navbar li {
  list-style-type: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  font-weight: 800;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--white);
  font-size: 20px;
}

.sticky-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation: mymove 1s ease-in-out;
  z-index: 2;
}

.hover-underline::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -4;
  content: "";
  display: block;
  height: 2.5px;
  left: 50%;
  position: absolute;
  background: var(--yellow);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.hover-underline:hover::after {
  width: 100%;
  left: 0;
}

#mobile {
  display: none;
}

#mobile i {
  color: var(--yellow);
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 90px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 9998;
  transition: 0.4s ease-in-out;
}

/* .light-overlay {
  background-color: transparent;
  transition: 0.4s ease-in-out;
}
*/
/* MEDIA QUERIES */

@media (min-width: 320px) {
  .nav {
    justify-content: space-around;
  }
}

@media (min-width: 480px) {
  .nav {
    justify-content: space-between;
  }
}

/* @media (min-width: 600px) {
  .nav {
  }
}

@media (min-width: 801px) {
  .nav {
  }
}

@media (min-width: 1025px) {
  .nav {
  }
}
*/
@media (min-width: 1281px) {
  .nav {
    justify-content: center;
  }
  #navbar {
    margin-left: 47vh;
  }
}

@media screen and (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 74px;
    right: -800px;
    width: 65%;
    height: 100vh;
    background-color: #d9d5d3;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 40px 0 0 10px;
    transition: 0.4s ease-in-out;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
}
